<script src="~/lib/jquery/dist/jquery.js"></script>
<div class="productList">
	@* Breadcrumb 麵包屑 *@
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">首頁</a></li>
			<li class="breadcrumb-item active" aria-current="page">所有商品</li>
		</ol>
	</nav>
	<div class="container">
		<div class="row">
			@* 分類欄 Dropdown Sidebar *@
			@* !!!改成bootstrap的 *@
			<div class="col-3">
				<div class="sidenav">
					<button class="dropdown-btn">
						<a asp-area="" asp-controller="Product" asp-action="All">所有商品</a>
					</button>
					<button class="dropdown-btn">
						產區
						<i class="fa fa-caret-down"></i>
					</button>
					<div class="dropdown-container">
						<a href="#">巴西</a>
						<a href="#">哥倫比亞</a>
						<a href="#">夏威夷</a>
						<a href="#">衣索比亞</a>
						<a href="#">肯亞</a>
						<a href="#">蘇門答臘</a>
					</div>
					<button class="dropdown-btn">
						風味
						<i class="fa fa-caret-down"></i>
					</button>
					<div class="dropdown-container">
						<a href="#">花香</a>
						<a href="#">果香</a>
						<a href="#">巧克力</a>
						<a href="#">紅酒</a>
					</div>
					<button class="dropdown-btn">
						<a asp-area="" asp-controller="Product" asp-action="All">耳掛系列</a>
					</button>
				</div>
			</div>
			<div class="col-9">
				@* 數量和排序 *@
				<div class="numSort row">
					<div class="col-9">
						查詢結果的數量
					</div>
					@* 排序 Dropdown *@
					@* !!!改成bootstrap的 *@
					<div class="col-3">
						<div class="dropdown">
							<button onclick="sortFunction(this)" class="dropbtn">排序↓</button>
							<div class="dropdown-content">
								<a href="#">價格:由低到高</a>
								<a href="#">價格:由高到低</a>
							</div>
						</div>
						<div class="dropdown">
							<button onclick="sortFunction(this)" class="dropbtn">每頁顯示12個</button>
							<div class="dropdown-content">
								<a href="#">每頁顯示12個</a>
								<a href="#">每頁顯示18個</a>
								<a href="#">每頁顯示24個</a>
							</div>
						</div>
					</div>
				</div>
				@* 篩選 Dropdown *@
				@* !!!改成bootstrap的 *@
				<div class="filter row">
					<div class="col-2">
						<div class="filterDropdown">
							<button onclick="filterFunction(this)" class="filterDropbtn">價格</button>
							<div class="filterDropdown-content">
								<div style="display:flex;justify-content:right">
									<button onclick="closeFunction(this)">X</button>
								</div>
								<div>
									<input type="text" name="name" value="min" />
									<span> - </span>
									<input type="text" name="name" value="max" />
								</div>
							</div>
						</div>
					</div>
					<div class="col-2">
						<div class="filterDropdown">
							<button onclick="filterFunction(this)" class="filterDropbtn">烘培程度</button>
							<div class="filterDropdown-content">
								<div style="display:flex;justify-content:right">
									<button onclick="closeFunction(this)">X</button>
								</div>
								<div>
									<input type="checkbox" id="L" /><label for="L">淺</label>
									<input type="checkbox" id="LM" /><label for="LM">中淺</label>
									<input type="checkbox" id="M" /><label for="M">中</label>
									<input type="checkbox" id="MH" /><label for="MH">中深</label>
									<input type="checkbox" id="H" /><label for="H">深</label>
								</div>
							</div>
						</div>
					</div>
					<div class="col-2">
						<div class="filterDropdown">
							<button onclick="filterFunction(this)" class="filterDropbtn">處理方式</button>
							<div class="filterDropdown-content">
								<div style="display:flex;justify-content:right">
									<button onclick="closeFunction(this)">X</button>
								</div>
								<div>
									<input type="checkbox" id="Wet" /><label for="Wet">水洗</label>
									<input type="checkbox" id="Dry" /><label for="Dry">日曬</label>
									<input type="checkbox" id="Honey" /><label for="Honey">蜜處理</label>
								</div>
							</div>
						</div>
					</div>
					<div class="col-2">
						<div class="filterDropdown">
							<button onclick="filterFunction(this)" class="filterDropbtn">味道</button>
							<div class="filterDropdown-content">
								<div style="display:flex;justify-content:right">
									<button onclick="closeFunction(this)">X</button>
								</div>
								<div>
									<input type="range" min="1" max="5" value="1" id="fragrance" oninput="valueChange(this)" /><label for="fragrance" class="tasteLabel">香氣<span>1</span></label>
									<input type="range" min="1" max="5" value="1" id="sour" oninput="valueChange(this)" /><label for="sour" class="tasteLabel">酸味<span>1</span></label>
									<input type="range" min="1" max="5" value="1" id="bitter" oninput="valueChange(this)" /><label for="bitter" class="tasteLabel">苦味<span>1</span></label>
									<input type="range" min="1" max="5" value="1" id="sweet" oninput="valueChange(this)" /><label for="sweet" class="tasteLabel">甜味<span>1</span></label>
									<input type="range" min="1" max="5" value="1" id="strong" oninput="valueChange(this)" /><label for="strong" class="tasteLabel">厚實<span>1</span></label>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div @* class="container" *@>
					@* !!!佔位符 (Placeholders) *@
					<div class="row">
						@{
							for (int i = 0; i < 9; i++)
							{
								<div class="col-4">
									<div class="card">
										<div class="card-imgSelf">
											<img src="~/img/neko.png" class="card-img-top">
											<a href="#" class="btn btn-primary" style="display:none">加入購物車</a>
										</div>
										<div class="card-body">
											<h5 class="card-title text-center">產品名稱</h5>
											<p class="card-text text-center">價格</p>
										</div>
									</div>
								</div>
							}
						}
					</div>
				</div>
				<div class="page">
					@* !!!分頁 (Pagination) *@
					頁數
				</div>
			</div>
		</div>
	</div>
	<div class="top">
		到頂部
	</div>
</div>

@* Dropdown Sidebar 分類下拉欄
   Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict *@
<script>
	var dropdown = document.getElementsByClassName("dropdown-btn");
	var i;

	for (i = 0; i < dropdown.length; i++) {
		dropdown[i].addEventListener("click", function () {
			var dropdownContent = this.nextElementSibling;
			if (dropdownContent.style.display === "block") {
				dropdownContent.style.display = "none";
			} else {
				dropdownContent.style.display = "block";
			}
		});
	}
</script>
@* Clickable Dropdown 排序&篩選下拉欄
   When the user clicks on the button,toggle between hiding and showing the dropdown content *@
<script>
	// !!!重新判斷標的:點擊時有選單show就關閉該選單
	// 點擊排序按鈕控制選單開關
	function sortFunction(test) {
		test.nextElementSibling.classList.toggle("show");
	}
	// !!!重新判斷標的:點擊時有選單show就關閉該選單
	// 點擊篩選按鈕控制選單開關
	function filterFunction(test) {
		test.nextElementSibling.classList.toggle("show");
	}

	// 點擊X按鈕關閉選單
	function closeFunction(test) {
		$(test).parents('.filterDropdown-content')[0].classList.remove('show');
	}

	window.onclick = function (event) {
		// 排序: 當使用者點擊非排序的按鈕(不包括按鈕選單本人)關閉選單
		if (!$(event.target).is('.dropbtn')) {
			let dropdowns = document.getElementsByClassName("dropdown-content");
			let i;
			for (i = 0; i < dropdowns.length; i++) {
				let openDropdown = dropdowns[i];
				if (openDropdown.classList.contains('show')) {
					openDropdown.classList.remove('show');
				}
			}
		}
		// 篩選: 當使用者點擊非篩選區域(包括按鈕和選單)關閉選單
		if (!$(event.target).is('.filterDropdown *')) {
			let dropdowns = document.getElementsByClassName("filterDropdown-content");
			let i;
			for (i = 0; i < dropdowns.length; i++) {
				let openDropdown = dropdowns[i];
				if (openDropdown.classList.contains('show')) {
					openDropdown.classList.remove('show');
				}
			}
		}
	}
</script>
@* 當range的value更動時顯示其值在對應的span裡 *@
<script>
	function valueChange(test) {
		$(test).next('label').find('span').text($(test).val())
	}
</script>
@* 當hover進卡片的圖片時顯示加入購物車 *@
@* !!!動畫怪怪的 *@
<script>
	$(".card-img-top").hover(function () {
		$(this).next().slideToggle();
	})
</script>