/*可以寫的網頁範圍*/
.productList {
/*    background-color: pink;*/
    color: #818181;
}
/*Dropdown Sidebar*/
/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

    /* On mouse-over */
    .sidenav a:hover, .dropdown-btn:hover {
        color: #f1f1f1;
    }

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}
/*數量和排序左右不留空*/
.numSort {
    margin-left: 0;
    margin-right: 0;
}
/*篩選欄*/
.filter {
    margin-left: 0;
    margin-right: 0;
}
/*Clickable Dropdown*/
/* Dropdown Button */
.dropbtn, .filterDropbtn {
    color: #818181;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background: none;
}

    /* Dropdown button on hover & focus */
    .dropbtn:hover, .filterDropbtn:hover {
        color: #f1f1f1;
    }

/* The container <div> - needed to position the dropdown content */
.dropdown, .filterDropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: max-content;
    z-index: 1;
}
    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

.filterDropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    padding: 12px;
    min-width: max-content;
    z-index: 1;
}

    .filterDropdown-content * {
    }

    .filterDropdown-content button {
        border: 0;
        padding-bottom: 12px;
    }

    .filterDropdown-content input[type="text"] {
        width: 3em;
        border: solid,1px,#818181;
        border-radius: 3px;
    }
    .filterDropdown-content input[type="range"] {
        display:block;
    }
.tasteLabel{
    display:flex;
    justify-content:space-evenly;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}


/*產品清單*/
.list {
    background-color: blue;
}
/*頁數*/
.page {
    background-color: lightblue;
    text-align: center;
}
/*到頂部*/
.top {
    background-color: lightblue;
    width: 5%;
    aspect-ratio: 1/1;
    position: fixed;
    bottom: 100px;
    right: 5%;
}
