<script src="~/lib/jquery/dist/jquery.js"></script>
<div class="productList">
	<div class="container">
		<div class="row">
			@* 分類欄 Dropdown Sidebar *@
			@* !!!改成bootstrap的 *@
			<div class="col-3">
				<div class="sidenav">
					<a class="dropdown-btn" href="/Product/All">
						@* !!! asp-area="" asp-controller="Product" asp-action="All" *@
						所有商品 @* 改空間 *@
					</a>
					<button class="dropdown-btn">
						產區
						<i class="fa fa-caret-down"></i>
					</button>
					<div class="dropdown-container">
						<a href="#">巴西</a>
						<a href="#">哥倫比亞</a>
						<a href="#">夏威夷</a>
						<a href="#">衣索比亞</a>
						<a href="#">肯亞</a>
						<a href="#">蘇門答臘</a>
					</div>
					<button class="dropdown-btn">
						風味
						<i class="fa fa-caret-down"></i>
					</button>
					<div class="dropdown-container">
						<a href="#">花香</a>
						<a href="#">果香</a>
						<a href="#">巧克力</a>
						<a href="#">紅酒</a>
					</div>
					<a class="dropdown-btn" href="/Product/All">
						@* !!! asp-area="" asp-controller="Product" asp-action="All" *@
						耳掛系列 @* 改空間 *@
					</a>
				</div>
			</div>
			<div class="col-9">
				@* 數量和排序 *@
				<div class="numSort row">
					<div class="col">
						查詢結果的數量
					</div>
					@* 排序 Dropdown *@
					<div class="col-auto">
						<div class="dropdown">
							<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
								排序↓
							</button>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
								<li class="dropdown-item">價格:由低到高</li>
								<li class="dropdown-item">價格:由高到低</li>
							</ul>
						</div>
						<div class="dropdown">
							<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
								每頁顯示12個
							</button>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
								<li class="dropdown-item">每頁顯示12個</li>
								<li class="dropdown-item">每頁顯示18個</li>
								<li class="dropdown-item">每頁顯示24個</li>
							</ul>
						</div>
					</div>
				</div>
				@* 篩選 Dropdown *@
				<div class="filter row">
					<div class="col-2">
						<div class="dropdown">
							<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
								價格
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
								<div style="display:flex;justify-content:right">
									<button onclick="closeFunction(this)">X</button>
								</div>
								<div>
									<input type="text" name="name" value="min" />
									<span> - </span>
									<input type="text" name="name" value="max" />
								</div>
							</div>
						</div>
					</div>
					<div class="col-2">
						<div class="dropdown">
							<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
								烘培程度
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
								<div style="display:flex;justify-content:right">
									<button onclick="closeFunction(this)">X</button>
								</div>
								<div>
									<input type="checkbox" id="L" /><label for="L">淺</label>
									<input type="checkbox" id="LM" /><label for="LM">中淺</label>
									<input type="checkbox" id="M" /><label for="M">中</label>
									<input type="checkbox" id="MH" /><label for="MH">中深</label>
									<input type="checkbox" id="H" /><label for="H">深</label>
								</div>
							</div>
						</div>
					</div>
					<div class="col-2">
						<div class="dropdown">
							<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
								處理方式
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
								<div style="display:flex;justify-content:right">
									<button onclick="closeFunction(this)">X</button>
								</div>
								<div>
									<input type="checkbox" id="Wet" /><label for="Wet">水洗</label>
									<input type="checkbox" id="Dry" /><label for="Dry">日曬</label>
									<input type="checkbox" id="Honey" /><label for="Honey">蜜處理</label>
								</div>
							</div>
						</div>
					</div>
					<div class="col-2">
						<div class="dropdown">
							<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
								味道
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
								<div style="display:flex;justify-content:right">
									<button onclick="closeFunction(this)">X</button>
								</div>
								<div>
									<input type="range" min="1" max="5" value="1" id="fragrance" oninput="valueChange(this)" /><label for="fragrance" class="tasteLabel">香氣<span>1</span></label>
									<input type="range" min="1" max="5" value="1" id="sour" oninput="valueChange(this)" /><label for="sour" class="tasteLabel">酸味<span>1</span></label>
									<input type="range" min="1" max="5" value="1" id="bitter" oninput="valueChange(this)" /><label for="bitter" class="tasteLabel">苦味<span>1</span></label>
									<input type="range" min="1" max="5" value="1" id="sweet" oninput="valueChange(this)" /><label for="sweet" class="tasteLabel">甜味<span>1</span></label>
									<input type="range" min="1" max="5" value="1" id="strong" oninput="valueChange(this)" /><label for="strong" class="tasteLabel">厚實<span>1</span></label>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div>
					@* !!!佔位符 (Placeholders) *@
					<div class="row">
						@{
							for (int i = 0; i < 9; i++)
							{
								<div class="col-4">
									<div class="card">
										<div class="card-imgSelf">
											<img src="~/img/neko.png" class="card-img-top">
											<button class="btn btn-primary">加入購物車</button>
										</div>
										<div class="card-body">
											<h5 class="card-title text-center">產品名稱</h5>
											<p class="card-text text-center">價格</p>
										</div>
									</div>
								</div>
							}
						}
					</div>
				</div>
				<div class="page">
					@* !!!分頁 (Pagination) *@
					頁數
				</div>
			</div>
		</div>
	</div>
	<div class="top">
		到頂部
	</div>
</div>

@* Dropdown Sidebar 分類下拉欄 !!!可能要改掉
   Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict *@
<script>
	var dropdown = document.getElementsByClassName("dropdown-btn");
	var i;

	for (i = 0; i < dropdown.length; i++) {
		dropdown[i].addEventListener("click", function () {
			var dropdownContent = this.nextElementSibling;
			if (dropdownContent.style.display === "block") {
				dropdownContent.style.display = "none";
			} else {
				dropdownContent.style.display = "block";
			}
		});
	}
</script>
@* 當range的value更動時顯示其值在對應的span裡 *@
<script>
	function valueChange(test) {
		$(test).next('label').find('span').text($(test).val())
	}
</script>