/*所有的a標籤樣式都不要有底線，顏色統一*/
a {
    color: black; 
    text-decoration: none;
}
    a:hover {
        color: #818181;
    }
/*修改bootstrap的 .row > * 樣式*/
.row > * {
    padding-top: calc(var(--bs-gutter-x) * .5);
    padding-bottom: calc(var(--bs-gutter-x) * .5);
}
/*Dropdown Sidebar*/
/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

    /* On mouse-over */
    .sidenav a:hover, .dropdown-btn:hover {
        color: #818181;
    }

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}
/*數量和排序左右不留空*/
.numSort {
    margin-left: 0;
    margin-right: 0;
}
/*篩選欄左右不留空*/
.filter {
    margin-left: 0;
    margin-right: 0;
}
.dropdown{
    display:inline;
}

/*卡片的a標籤*/
.card-imgSelf {
    position: relative;
}
    .card-imgSelf .btn {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%,100%);
        width: 100%;
        border-radius: 0;
        opacity: 0;
        transition: all 200ms ease-out;
    }
        .card-imgSelf .btn:focus {
            box-shadow: none;
        }
    .card-imgSelf .btn-primary {
        background-color: #2f6919;
        border-color: #2f6919;
    }
/*經過卡片範圍按鈕浮現出來的動畫效果*/
.card:hover .btn {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    width: 100%;
    border-radius: 0;
    opacity: 1;
    transition: all 250ms ease-out;
}
/*頁數*/
.page {
    background-color: lightblue;
    text-align: center;
}
/*到頂部*/
.top {
    background-color: lightblue;
    width: 5%;
    aspect-ratio: 1/1;
    position: fixed;
    bottom: 1%;
    right: 1%;
    z-index:1;
}
