@* <link rel="stylesheet" href="~/BigPorject.styles.css" asp-append-version="true" /> *@
<div class="index">
    當前分類位置
</div>
<div class="classify">
    分類欄
</div>
<div class="filter">
    篩選欄
</div>
<div class="sort">
    排序
</div>
<div class="list">
    產品清單
    <div class="page">
        頁數
    </div>
</div>
<div class="top">
    到頂部
</div>