@model List<BigPorject.Models.Product>
@{
    var total_item = Model.Count;
}
<div class="productList">
    @* Breadcrumb 麵包屑 *@
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Home/Index">首頁</a></li>
            <li class="breadcrumb-item active" aria-current="page">所有商品</li>
        </ol>
    </nav>
    <div class="container">
        <div class="row">
            @* Sidebar 側邊欄 *@
            <div class="col-3">
                <div class="accordion" id="accordionSidebar">
                    <div class="accordion-item">
                        <a href="/Product/Index" class="accordion-header accordion-button">所有商品</a>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">產地</button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionSidebar">
                            <div class="accordion-body">
                                <a>衣索比亞</a>
                                <a>巴西</a>
                                <a>哥倫比亞</a>
                                <a>瓜地馬拉</a>
                                <a>肯亞</a>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">風味</button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionSidebar">
                            <div class="accordion-body">
                                <a>果香</a>
                                <a>花香</a>
                                <a>巧克力</a>
                                <a>紅酒</a>
                                <a>堅果香</a>
                                <a>茶香</a>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <a class="accordion-header accordion-button">濾掛系列</a>
                    </div>
                </div>
            </div>
            <div class="col-9">
                @* 數量和排序 *@
                <div class="numSort row">
                    @* 數量 *@
                    <div class="col">
                        查詢結果的數量
                    </div>
                    @* Dropdown 排序 *@
                    <div class="col-auto">
                        <div class="d-inline-flex">
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle"
                                        type="button"
                                        id="dropdownMenuButtonPriceSort"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                    排序
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonPriceSort">
                                    <li class="dropdown-item">綜合</li>
                                    <li class="dropdown-item">價格:由低到高</li>
                                    <li class="dropdown-item">價格:由高到低</li>
                                </ul>
                            </div>
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle"
                                        type="button"
                                        id="dropdownMenuButtonItem"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false">每頁顯示12個</button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonItem">
                                    <li class="dropdown-item f-show-item" data-num="12" onclick="changeText(this)">每頁顯示12個</li>
                                    <li class="dropdown-item f-show-item" data-num="18" onclick="changeText(this)">每頁顯示18個</li>
                                    <li class="dropdown-item f-show-item" data-num="24" onclick="changeText(this)">每頁顯示24個</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                @* Dropdown 篩選 *@
                <div class="filter row">
                    <div class="col-auto">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle"
                                    type="button"
                                    id="dropdownMenuButtonPrice"
                                    data-bs-toggle="dropdown"
                                    data-bs-auto-close="outside"
                                    aria-expanded="false">
                                價格
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonPrice">
                                <div class="dropdown-item" style="display:flex;justify-content:right">
                                    <button type="button" class="btn-close" aria-label="Close" onclick="filterBtnClose(this)"></button>
                                </div>
                                <div class="dropdown-item filterPriceItem">
                                    <input type="text" value="min" />
                                    <span> - </span>
                                    <input type="text" value="max" />
                                    <input type="submit" value="Go" onclick="filterBtnClose(this)" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle"
                                    type="button"
                                    id="dropdownMenuButtonBaking"
                                    data-bs-toggle="dropdown"
                                    data-bs-auto-close="outside"
                                    aria-expanded="false">
                                烘培程度
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonBaking">
                                <div class="dropdown-item" style="display:flex;justify-content:right">
                                    <button type="button" class="btn-close" aria-label="Close" onclick="filterBtnClose(this)"></button>
                                </div>
                                <div class="dropdown-item filterBakingItem">
                                    <div>
                                        <label for="L" class="CBcontainer"><input type="checkbox" id="L" /><span class="checkmark"></span>淺</label>
                                    </div>
                                    <div>
                                        <label for="LM" class="CBcontainer"><input type="checkbox" id="LM" /><span class="checkmark"></span>中淺</label>
                                    </div>
                                    <div>
                                        <label for="M" class="CBcontainer"><input type="checkbox" id="M" /><span class="checkmark"></span>中</label>
                                    </div>
                                    <div>
                                        <label for="MH" class="CBcontainer"><input type="checkbox" id="MH" /><span class="checkmark"></span>中深</label>
                                    </div>
                                    <div>
                                        <label for="H" class="CBcontainer"><input type="checkbox" id="H" /><span class="checkmark"></span>深</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle"
                                    type="button"
                                    id="dropdownMenuButtonProcedure"
                                    data-bs-toggle="dropdown"
                                    data-bs-auto-close="outside"
                                    aria-expanded="false">
                                處理法
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonProcedure">
                                <div class="dropdown-item" style="display:flex;justify-content:right">
                                    <button type="button" class="btn-close" aria-label="Close" onclick="filterBtnClose(this)"></button>
                                </div>
                                <div class="dropdown-item filterProcedureItem">
                                    <div>
                                        <label for="Wet" class="CBcontainer"><input type="checkbox" id="Wet" /><span class="checkmark"></span>水洗</label>
                                    </div>
                                    <div>
                                        <label for="Dry" class="CBcontainer"><input type="checkbox" id="Dry" /><span class="checkmark"></span>日曬</label>
                                    </div>
                                    <div>
                                        <label for="Honey" class="CBcontainer"><input type="checkbox" id="Honey" /><span class="checkmark"></span>蜜處理</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle"
                                    type="button"
                                    id="dropdownMenuButtonTaste"
                                    data-bs-toggle="dropdown"
                                    data-bs-auto-close="outside"
                                    aria-expanded="false">
                                味道
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonTaste">
                                <div class="dropdown-item" style="display:flex;justify-content:right">
                                    <button type="button" class="btn-close" aria-label="Close" onclick="filterBtnClose(this)"></button>
                                </div>
                                <div class="dropdown-item filterTasteItem">
                                    <div>
                                        香氣<input type="range" min="1" max="5" value="1" id="fragrance" oninput="valueChange(this)" /><span>1</span>
                                    </div>
                                    <div>
                                        酸味<input type="range" min="1" max="5" value="1" id="sour" oninput="valueChange(this)" /><span>1</span>
                                    </div>
                                    <div>
                                        苦味<input type="range" min="1" max="5" value="1" id="bitter" oninput="valueChange(this)" /><span>1</span>
                                    </div>
                                    <div>
                                        甜味<input type="range" min="1" max="5" value="1" id="sweet" oninput="valueChange(this)" /><span>1</span>
                                    </div>
                                    <div>
                                        厚實<input type="range" min="1" max="5" value="1" id="strong" oninput="valueChange(this)" /><span>1</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @* Card 產品卡 *@
                <div class="cardContainer">
                    <div class="row">
                        @{
                            foreach (Product p in Model)
                            {
                                <div class="col-4">
                                    <div class="card">
                                        <div class="cardImgBody">
                                            <a href="/Product/Index"><img src="~/img/neko.png" class="card-img-top"></a>
                                            <button class="btn btn-primary" onclick="cardBtnAdd(this)">加入購物車</button>

                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title text-center">@p.ProductName</h5>
                                            <p class="card-text text-center">NT.@p.Price</p>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
                @* 分頁 (Pagination) *@
                <div class="page">
                    <ul class="pageul">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
@* 到頂部 *@
<button class="topbtn">
    <svg xmlns="http://www.w3.org/2000/svg" fill="#FFF" class="bi bi-arrow-up-short" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5" />
    </svg>
</button>